<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/splash.css" />
  </head>
  <body id="splash">
    <div class="splash">담담</div>

    <script>
      setTimeout(() => {
        fetch("/json/userData.json")
          .then((res) => res.json())
          .then((data) => {
            let link = "http://localhost:3001/main";
            let link2 = "http://localhost:3001/NoMoreInfo";
            let link3 = "http://localhost:3001/UserName";

            if (data.length == 0) {
              location.href = link3;
            } else if (data[0].userName && data[0].id == undefined) {
              location.href = link2;
            } else {
              location.href = link;
            }
          });
      }, 2000);
    </script>
  </body>
</html>
