<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/splash.css" />
  </head>
  <body id="splash">
    <div class="splash">담담</div>

    <script>
      setTimeout(() => {
        let link = "/main";
        let link2 = "/NoMoreInfo";
        let link3 = "/UserName";
        let userName = "<%= userArr[0].userName %>";
        let StartYear = "<%= userArr[0].StartYear %>";
        if (userName.length == 0) {
          location.href = link3;
        } else if (StartYear.length == 0 && userName.length >= 1) {
          location.href = link2;
        } else {
          location.href = link;
        }
      }, 1000);
    </script>
  </body>
</html>
