<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Damdam</title>
  </head>
  <body id="main">
    <div class="container">
      <!-- header -->
      <div class="header">
        <div class="user-name">
          <h1>안녕하세요 {name}님</h1>
        </div>
        <div class="info-setting">
          <div class="info">
            <a href="/userinfo"><i class="fa-solid fa-circle-user"></i></a>
          </div>
          <div class="setting">
            <a href="/setting"><i class="fa-solid fa-gear"></i></a>
          </div>
        </div>
      </div>
      <!-- main- -->
      <div class="main-timer">
        <div><img src="/images/main-timer.png" alt="timer-img" /></div>
        <div>
          <div class="main-timer-day">??</div>
          <div class="main-timer-clock">
            <div class="main-timer-hour">??</div>
            <div class="main-timer-minute">??</div>
          </div>
        </div>
      </div>
      <section class="knowledge">
        <div class="knowledge-title">
          <div class="knowledge-icon">
            <i class="fa-regular fa-lightbulb"></i>
          </div>
          <div><h1>지식 +</h1></div>
        </div>
        <div class="knowledge-content">
          <h2>흡연은 외모에 즉각적인 영향을 미칩니다.</h2>
          <h4>
            담배는 피부 주름을 촉진하여 나이에 비해 늙어 보이게 합니다. 흡연은
            피부 탄력과 관련이 있는 단백질을 없애고 비타민 A를 고갈시켜 원활한
            혈류의 흐름을 방해함으로써 피부 노화를 앞당깁니다.
          </h4>
        </div>
        <div class="contour"></div>
        <div class="knowledge-seemore">
          <div class="knowledge-seemore-icon">
            <i class="fa-solid fa-hand-fist"></i>
          </div>
          <div class="knowledge-seemore-content">
            <h1>모든 정보 확인</h1>
            <span><i class="fa-solid fa-chevron-right"></i></span>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="home active">
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </div>
      <div class="achievement">
        <a href="/achievement"><i class="fa-solid fa-trophy"></i></a>
      </div>
      <div class="community">
        <a href="/community"><i class="fa-solid fa-user-group"></i></a>
      </div>
      <div class="calendar">
        <a href="/calendar"><i class="fa-solid fa-calendar-days"></i></a>
      </div>
    </footer>
    <!-- fontA -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
